
# =============================================================================
# Bot Config
# =============================================================================

APP_BOT__TOKEN=token


# =============================================================================
# Docker Compose Variables
# =============================================================================

POSTGRES_DB=labour_lens
POSTGRES_USER=labour_lens_user
POSTGRES_PASSWORD=labour_password_secure_123

PGADMIN_DEFAULT_EMAIL=admin@admin.org
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_CONFIG_SERVER_MODE=False


# =============================================================================
# Application Config
# =============================================================================

# --- Server ---
APP_RUN__HOST=0.0.0.0
APP_DB__ECHO=True

# APP_DB__URL=postgresql+asyncpg://labour_lens_user:labour_password_secure_123@pg:5432/labour_lens
APP_DB__URL=postgresql+asyncpg://labour_lens_user:labour_password_secure_123@localhost:5433/labour_lens


# =============================================================================
# Translation Config
# =============================================================================

APP_TRANSLATION__DEEPL_API_KEY=your_deepl_free_key